In [1]:
import pandas as pd
from datetime import timedelta

In [2]:
# Config:
month = 'Jun23'
file_name = 'Uk_Jan_Jun_23'

In [3]:
# Read CSV with Decimals as comma:
df = pd.read_csv(f"./Inputs/{month}/{file_name}.csv", decimal=',')

In [4]:
df.head(3)

,Company (code+name),Year,Delivery note date,Customer code,Customer name,Segment code (customer),Segment name (customer),Global CoFX Amount (net),Sales order number,Order origin
0,141 - CERTIKIN INTERNATIONAL LIMITED,2023,03/01/23 0:00,306,BUCKLAND POOL & BUILDING COMPANY LTD,15.0,POOL SPECIALIST-Instal/Builder,849.73,580963,25
1,141 - CERTIKIN INTERNATIONAL LIMITED,2023,03/01/23 0:00,615,FREEDOM LEISURE !,15.0,POOL SPECIALIST-Instal/Builder,75.02,580883,25
2,141 - CERTIKIN INTERNATIONAL LIMITED,2023,03/01/23 0:00,615,FREEDOM LEISURE !,15.0,POOL SPECIALIST-Instal/Builder,14.6,HAZARDOUS,25

In [5]:
# Renaming Columns:
df = df.rename(columns={'Delivery note date': 'Purchase Date',
                        'Customer Name': 'Customer name', 
                        'Global CoFX Amount (net)': 'Global Amount'})

In [6]:
df["Customer name"].unique()

array(['BUCKLAND POOL & BUILDING COMPANY LTD', 'FREEDOM LEISURE  !',
       'UK POOL STORE LTD', 'LEISURE POOLS LTD', 'POOL SUPPLIES LTD',
       'HEAT PUMPS 4 POOLS LTD', 'PACIFIC POOLS LTD T/A POOL TRADE COUNT',
       'JB ELITE SERVICES LTD', 'AZURE POOL SERVICES LTD',
       'PENINSULA POOLS LTD', 'ASHER SWIMPOOL CENTRE LTD',
       'PBS POOLS LTD', 'RS POOLS LTD',
       'OXFORD POOLS AND HOT TUBS LIMITED', 'SAFFRON SWIMMING POOLS LTD',
       'CORNISH HOT TUBS LIMITED', 'W D S LIMITED!', 'B.T.U SUPPLIES LTD',
       'SPRUCE SERVICES LIMITED', 'AQUA PLATINUM SERVICING LTD',
       'LETTS SWIMMING POOLS LIMITED', 'POOLWORX LIMITED',
       'SWIMMING POOLS (MIDLANDS)', 'TRACIE SKINNER T/AS PUREPOOLS',
       'WENSUM POOLS LTD', 'JML POOLS LTD', 'OCEANOS POOLS LTD !',
       'POOL COVER SERVICING!', 'HTP INC LIMITED', 'KB POOLS LTD',
       'LANGLEY POOL SERVICES LIMITED',
       'MERLIN POOLS AND SPAS LLP (COLCHESTER)',
       'TOPLINE ELECTRONICS LTD', 'UNIPOOLS LTD', 'RIVIERA HOT TUBS LTD',
       'SPAFLO LTD', 'SALOP POOL SERVICES',
       'BUILTH WELLS VETERINARY PRACTICE LTD!',
       'AQUASCAPE SWIMMING POOL LTD', 'KINGFISHER POOLCARE LTD',
       'NIRVANA SPA & LEISURE LTD', 'POOLWORKS LTD',
       'HYDROCARE LEISURE LTD', 'ALAN BETTIN LTD', 'ELM LEISURE LTD',
       "POOL 'N' SPA SERVICES LTD", 'P R COOLING SERVICES LIMITED',
       'A & D SWIMMING POOLS LTD', 'STEVE MAYNARD PROPERTY SERVICES !',
       'FOXIN POOL AND SPA', 'CIRENCESTER POOLS!', 'CAMPBELL POOLS LTD',
       'PRESTIGE SWIMMING POOLS LTD', 'THE COTSWOLD POOL COMPANY LTD',
       'ROCKHOPPER POOLS LTD', 'FAIRLOCKS POOL PRODUCTS LTD',
       'MAJESTIC POOLS LIMITED', 'PEGASUS POOLS LTD',
       'PLANSCAPES LEISURE LTD', 'POOLS & GARDENS LIMITED', 'DWS LEISURE',
       'T/A WOOZELBEARS MELKSHAM !',
       'MERLIN LEISURE POOLS LTD (LEICESTER)', 'INTO THE BLUE LTD',
       'P J LE MAITRE !', 'AQS GROUP LTD', 'ROD HUDSON POOLS LTD',
       'T/A KIEREN BEAN POOLS & SPA!', 'MOSAIC SWIMMING POOLS & SPAS LTD',
       'POOLS PLUS LLP', 'M WINTER T/A HOME COUNTIES',
       'HOWSON POOLS LIMITED', 'GARETH JAMES POOLS', 'SSL POOLS LTD',
       'POOLCOURT ENGINEERING LTD', 'ELITE SPAS & LEISURE SW LTD',
       'FAWRONA LTD T/A BUTLER SERVICE', 'DALESAUNA LTD',
       'ORBRO POOLS LIMITED', 'THREE COUNTIES POOLS & SPAS LTD',
       'GILLINGHAM POOLS LTD', 'WEST COUNTRY LEISURE POOL (DEVON)',
       'COMPLETE SWIMMING POOL SERVICES LTD', 'POOL SOLUTIONS (SCOTLAND)',
       'SURREY POOLS AND WATER!', 'CLEARWAY POOLS LTD',
       'THE WATERSPLASH CLUB', 'C R F SWIMMING POOLS',
       'SWIMMING POOL SOLUTIONS LTD', 'AQUASTYLE POOLS LTD',
       'CRYSTAL CLEAR POOLS LIMITED', 'XL POOLS LTD',
       'HIGHTECH WATER SERVICES LTD', 'OTIUM SWIMMING POOLS',
       'MR R MADGWICK T/A SUNSHINE POOLS', 'SWIMFIX LTD',
       'TANBY LEISURE PRODUCTS LTD', 'T/A MALPELO POOLS',
       'SPRAYED CONCRETE SOLUTIONS LTD', 'AG BUDGET SWIMMING POOLS',
       'ALMA TRON LIMITED', 'HEATHCREST HEATING SERVICES LTD',
       'NORTH EAST SWIMMING POOLS LIMITED !', 'BTA LEISURE !',
       'BAKEWELL POOLS LTD', 'CATALINA SPAS LIMITED', 'LEW KEAY & SONS',
       'OASIS SWIMMING POOLS (KENT) LTD', 'GALA SWIMMING POOLS LTD',
       'ARCUS PRODUCTS LTD !', 'SAPPHIRE WATER SYSTEMS!',
       'THE NATURAL POOL COMPANY LTD!', 'AMALFI WELLNESS LTD !',
       'K DOWNS SWIMMING POOLS', 'GIRAFFE ENTERPRISES LTD',
       'POOL MECHANIX LIMITED', 'T/A SOLENT POOLS AND HOT TUBS',
       'OCEAN ELECTRICAL/SWIMMING POOL SOL LTD!', 'AQUATEC POOLS',
       'H & H POOLS AND LEISURE FACILITIES LTD',
       'POOL FILTRATION SURREY LTD', 'HILDEN SWIMMING POOLS !',
       'JACKSONS LEISURE SUPPLIES LTD', '1066 POOLS LTD',
       'PETER MCNALLY T/A P.M.C CONSULTING', 'AQUA SERVICES (OXFORD) LTD',
       'F BRICKELL & SONS LTD', 'JSA LEISURE LIMITED',
       'CALYPSO SOUTH LTD', 'INTERPLAN LEISURE LIMITED',
       'UNICORN POOLS AND HOT TUBS LTD', 'POOL ENGINEERING LTD!',
       'SPAZIO DESIGN LIMITED!', 'CLEAR WATER REVIVAL LIMITED',
       'IAN LEWIS DESIGN', 'TOTAL LEISURE ENGINEERING LTD',
       'POOLPRO SERVICES!', 'AGB SERVICES ANGLIA LTD', 'AQUEOUS POOLS',
       'PREMIER POOL SERVICES', 'FOUNTAINS DIRECT LTD',
       'FOWLER SWIMMING POOLS LTD', 'WOKINGHAM POOLS AND SPAS LTD',
       'NEUMAN AQUA LTD', 'MULTIJET LTD  !',
       'BAY AIR CONDITIONING & REFRIGERATION LTD',
       'ONE POOL & SPA LIMITED !', 'KALTECH',
       'LOVE2SWIM HAMPSHIRE LTD  !', 'ATOLL CONSTRUCTION LTD',
       'MILLAQUIA LEISURE LTD', 'AQUARIUS POOL SERVICES LTD',
       'SMART POOLS LTD', 'SG POOL SERVICES', 'DAVID JOHNS',
       'AMANDI HOLDINGS LIMITED!', 'DEVON POOL AND SPA COMPANY LTD',
       'CHISWELL POOLS LTD', 'APULIA POOLS', 'SMALLBONE POOLS LIMITED',
       'D P LEISURE!', 'SPA CARE UK LTD!', 'POLMENNA POOLS LTD!',
       'POLAR POOLS LTD', 'SPAPOOL   !', 'SPLISH SPLASH POOLS LTD!',
       'SILEBYSPAS LTD!', 'JOYCE SWIMMING POOLS LTD',
       'CALLOW TOP HOLIDAY PARK', 'CHRIS THAYRE SWIMMING POOLS',
       'LEISURESAFE SOLUTIONS!', "TERRY'S POOL SERVICES LTD",
       'MERMAID LEISURE LIMITED', 'P & P LEISURE POOLS LTD',
       'BEN THOMPSON!', 'AUGUST POOLS LTD!',
       'DOODLE BUILD CONTAINERS LTD',
       'TINY RHINO LTD T/A HOT TUBS AT HOME !',
       'LIFESTYLE BUILDING SERVICES!', 'POOL ENGINEERING UK',
       'HENDY CURZON GARDENS LTD', 'MILLENNIUM POOLS LTD',
       'CB POOL SERVICING LTD', 'RR CONSTRUCTION', 'PERFECTION POOLS LTD',
       'THE POOL PEOPLE!', 'PENNEY TECHNICAL SERVICES LTD',
       'T/A SPS SWIMMING POOLS & SPA', 'T/A OXFORD POOL STORE',
       'THERAPAWS LTD!', 'ORCA POOLS LTD!', 'AQUALITY POOL SERVICE',
       'T/A THE POOL CLEANERS !', 'S J POOL SERVICES!',
       'SUNSCAPE INNOVATIONS LTD!', 'GKING T/A THERMAL LEISURE',
       'IAN SMITH ELECTRICAL LIMITED', 'AQUAPOOLCO', 'CRESTA LEISURE LTD',
       'ALLPOOLS & SPAS LTD', 'LLYN SPA CARE!',
       'RPS COMPANY SERVICES LTD', 'LUXOR POOLS LTD!',
       'SIXSMITH BUILD LTD', 'SIGNATURE POOLS & LEISURE LTD',
       'TOTAL POOL LTD', 'NAUTILUS POOLS LTD', 'A A POOLS',
       'PALM TREE POOLS LTD', 'LIGHTHOUSE POOLS LIMITED',
       'ECOBLUE POOL AND SPA LTD!', 'SPS SWIMMING POOL SERVICES LTD',
       'EXETER POOLS LTD', 'ROMAN POOLS LIMITED',
       'NEWSON SWIMMING POOLS LTD', 'POOL AND SPA TECH',
       'MATTHEW BEDDIS !', 'THIRD MILLENNIUM ENERGY LTD', 'TOMMICKS LTD!',
       'THE SPA DOCTOR', 'AQUALINE ENGINEERING LIMITED',
       'AUTOMATED ENVIRONMENTAL SYSTEMS LTD (CEP',
       'ROCKINGHAM SWIMMING POOLS LTD', 'YPDT LEISURE LIMITED !',
       'SURREY POOL CARE!', 'ASTER LEE LTD!', 'BOMBINA SERVICES!',
       'ROWLEN BOILER SERVICES LTD',
       'KENT AND SUSSEX POOL CONSTRUCTION LTD!',
       'T/A MIDLAND POOL SERVICES !', 'DAMAR SUPPLIES LIMITED T/AS',
       'PANACHE POOLS LTD', 'SURREY SWIMMING POOLS LTD',
       'M.E.I PUMP SERVICES LTD', 'A2Z POOLS', 'APM POOL CARE LTD !',
       'MCS POOL SERVICES', 'BOILERS 4 ESSEX LTD', 'PHC PARTS',
       'T/A A.T.POOL SERVICES!', 'HOWARDS HYDROCARE LTD (COMMERCIAL)',
       'VALE POOL SERVICES', 'TANK TIDY LTD(AQUATICS)!',
       'CLARITY POOLCARE!', 'HOMEWOOD LEISURE LIMITED',
       'PANORAMIC POOLS LTD!', 'CLEARWATER MARINE TECHNOLOGY',
       'PLATINUM INSTALLATIONS &MAINTENANCE LTD!', 'UK POOLS AND SPAS!',
       'AUSTIN POOL SERVICES &', 'CORNWALL POOLS LIMITED',
       'LS MAINTENANCE !', 'CRYSTAL CLEAR SWIM POOL SERV !',
       'AQUATIC IMPACT LTD (AQUATICS)', 'JOHN PYKE!',
       'OYSTER POOLS & HOT TUBS LTD'], dtype=object)

In [7]:
df["Customer name"] = df["Customer name"].str.replace(r' - 100', '')
df["Customer name"] = df["Customer name"].str.replace(r'(?!-)[^\w\s]', '', regex=True)
df["Customer name"] = df["Customer name"].str.replace('Ã‘', 'A')
df["Customer name"] = df["Customer name"].str.replace('Ã“', 'A')
df["Customer name"] = df["Customer name"].str.replace(r'[^\x00-\x7f]', '', regex=True)
df["Customer name"] = df["Customer name"].str.strip()

In [8]:
df2 = df[['Purchase Date', 'Customer name', 'Global Amount']]
df2

      Purchase Date                        Customer name Global Amount
0     03/01/23 0:00  BUCKLAND POOL  BUILDING COMPANY LTD        849.73
1     03/01/23 0:00                      FREEDOM LEISURE         75.02
2     03/01/23 0:00                      FREEDOM LEISURE          14.6
3     03/01/23 0:00                    UK POOL STORE LTD        209.89
4     03/01/23 0:00                    LEISURE POOLS LTD        354.43
...             ...                                  ...           ...
3060  30/06/23 0:00             RPS COMPANY SERVICES LTD        334.94
3061  30/06/23 0:00              GALA SWIMMING POOLS LTD        2148.4
3062  30/06/23 0:00                 TA THE POOL CLEANERS         54.74
3063  30/06/23 0:00      HEATHCREST HEATING SERVICES LTD        701.23
3064  30/06/23 0:00                    UK POOLS AND SPAS        123.15

[3065 rows x 3 columns]

In [9]:
df2["Purchase Date"] = pd.to_datetime(df2["Purchase Date"])
df2['Global Amount'] = pd.to_numeric(df2['Global Amount'])

/var/folders/yx/wg0v7ck91t14mxp5lfptvbh00000gn/T/ipykernel_5448/501058408.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Purchase Date"] = pd.to_datetime(df2["Purchase Date"])
/var/folders/yx/wg0v7ck91t14mxp5lfptvbh00000gn/T/ipykernel_5448/501058408.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Global Amount'] = pd.to_numeric(df2['Global Amount'])

In [10]:
df2.dtypes

Purchase Date    datetime64[ns]
Customer name            object
Global Amount           float64
dtype: object

In [11]:
snapshot_date = df2['Purchase Date'].max() + timedelta(days=1)

In [12]:
df3 = df2.groupby('Customer name').agg({'Global Amount': ['sum','count'], 'Purchase Date': lambda x: (snapshot_date - x.max()).days}).reset_index()

In [13]:
df3.head(3)

             Customer name Global Amount       Purchase Date
                                     sum count      <lambda>
0           1066 POOLS LTD       1107.05     6           191
1  A  D SWIMMING POOLS LTD       7780.39    12            36
2                A A POOLS       -170.54     1           277

In [14]:
df3.columns

MultiIndex([('Customer name',         ''),
            ('Global Amount',      'sum'),
            ('Global Amount',    'count'),
            ('Purchase Date', '<lambda>')],
           )

In [15]:
df4 = df3.rename(columns={'': 'Customer Name',
                          "sum": "Monetary value",
                          'count': 'Frequency',
                          '<lambda>': 'Recency'})

In [16]:
# Dropping 1st level Index:
df4.columns = df4.columns.droplevel(0)

In [17]:
df4.head(3)

             Customer Name  Monetary value  Frequency  Recency
0           1066 POOLS LTD         1107.05          6      191
1  A  D SWIMMING POOLS LTD         7780.39         12       36
2                A A POOLS         -170.54          1      277

In [18]:
df4.to_excel(f"./{month}/UK/RFM_UK_{month}.xlsx", index=False)