In [1]:
import pandas as pd
from datetime import timedelta

In [2]:
df2 = pd.read_csv("FR 2022.csv")

In [3]:
df2

,Company [code+name],Year,Booking date (order),Customer code,Customer name,Segment code (customer),Segment name (customer),Global CoFX Amount (net),Sales order number,Order origin
0,050- FLUIDRA COMMERCIAL FRANCE SAS,2022,2022-05-13 00:00:00,10113,LES COQUES DE BRESSE,16,POOL SPECIALIST-Mobile/Service,"3468,48",2414992,25
1,050- FLUIDRA COMMERCIAL FRANCE SAS,2022,2022-07-19 00:00:00,10113,LES COQUES DE BRESSE,16,POOL SPECIALIST-Mobile/Service,"1067,92",2418242,25
2,050- FLUIDRA COMMERCIAL FRANCE SAS,2022,2022-10-12 00:00:00,10113,LES COQUES DE BRESSE,16,POOL SPECIALIST-Mobile/Service,"1724,47",2421076,25
3,050- FLUIDRA COMMERCIAL FRANCE SAS,2022,2022-06-30 00:00:00,10124,VACHOD - A L EAU PISCINE,16,POOL SPECIALIST-Mobile/Service,"383,81",2417754,25
4,050- FLUIDRA COMMERCIAL FRANCE SAS,2022,2022-08-10 00:00:00,10124,VACHOD - A L EAU PISCINE,16,POOL SPECIALIST-Mobile/Service,"298,00",2419547,25
...,...,...,...,...,...,...,...,...,...,...
4447,050- FLUIDRA COMMERCIAL FRANCE SAS,2022,2022-11-21 00:00:00,988779,HYDRO CONCEPT SIEMC,15,POOL SPECIALIST-Instal/Builder,"157,30",2112858,25
4448,050- FLUIDRA COMMERCIAL FRANCE SAS,2022,2022-11-29 00:00:00,988779,HYDRO CONCEPT SIEMC,15,POOL SPECIALIST-Instal/Builder,"824,34",2112983,25
4449,050- FLUIDRA COMMERCIAL FRANCE SAS,2022,2022-12-19 00:00:00,988779,HYDRO CONCEPT SIEMC,15,POOL SPECIALIST-Instal/Builder,"41,81",2113200,25
4450,050- FLUIDRA COMMERCIAL FRANCE SAS,2022,2022-09-13 00:00:00,995091,DIVERS CHILLY,15,POOL SPECIALIST-Instal/Builder,"503,17",1587801,25
4451,050- FLUIDRA COMMERCIAL FRANCE SAS,2022,2022-05-09 00:00:00,999928,AZUREVA RONCE LES BAINS,35,PUBLIC POOL -Hospitality,"519000,00",460885,46

In [4]:
df2["Customer name"].unique()

array(['LES COQUES DE BRESSE', 'VACHOD - A L EAU PISCINE', 'TC PISCINES',
       ..., 'HYDRO CONCEPT SIEMC', 'DIVERS CHILLY',
       'AZUREVA RONCE LES BAINS'], dtype=object)

In [5]:
df2["Customer name"] = df2["Customer name"].str.replace(r' - 100', '')
df2["Customer name"] = df2["Customer name"].str.replace(r'(?!-)[^\w\s]', '', regex=True)
df2["Customer name"] = df2["Customer name"].str.replace('Ã‘', 'A')
df2["Customer name"] = df2["Customer name"].str.replace('Ã“', 'A')
df2["Customer name"] = df2["Customer name"].str.replace(r'[^\x00-\x7f]', '', regex=True)
df2["Customer name"] = df2["Customer name"].str.strip()

In [6]:
df2["Customer name"].unique()

array(['LES COQUES DE BRESSE', 'VACHOD - A L EAU PISCINE', 'TC PISCINES',
       ..., 'HYDRO CONCEPT SIEMC', 'DIVERS CHILLY',
       'AZUREVA RONCE LES BAINS'], dtype=object)

In [7]:
df2 = df2[["Booking date (order)", "Global CoFX Amount (net)", "Customer name"]]

In [8]:
df2 = df2.rename(columns={"Booking date (order)": "Purchase Date", 'Customer Name': 'Customer name', 'Global CoFX Amount (net)': 'Global Amount'})

In [9]:
df2

            Purchase Date Global Amount             Customer name
0     2022-05-13 00:00:00       3468,48      LES COQUES DE BRESSE
1     2022-07-19 00:00:00       1067,92      LES COQUES DE BRESSE
2     2022-10-12 00:00:00       1724,47      LES COQUES DE BRESSE
3     2022-06-30 00:00:00        383,81  VACHOD - A L EAU PISCINE
4     2022-08-10 00:00:00        298,00  VACHOD - A L EAU PISCINE
...                   ...           ...                       ...
4447  2022-11-21 00:00:00        157,30       HYDRO CONCEPT SIEMC
4448  2022-11-29 00:00:00        824,34       HYDRO CONCEPT SIEMC
4449  2022-12-19 00:00:00         41,81       HYDRO CONCEPT SIEMC
4450  2022-09-13 00:00:00        503,17             DIVERS CHILLY
4451  2022-05-09 00:00:00     519000,00   AZUREVA RONCE LES BAINS

[4452 rows x 3 columns]

In [10]:
df2.dtypes

Purchase Date    object
Global Amount    object
Customer name    object
dtype: object

In [11]:
df2["Global Amount"] = df2["Global Amount"].str.replace(",", ".")

In [12]:
df2["Purchase Date"] = pd.to_datetime(df2["Purchase Date"])
df2["Global Amount"] = df2["Global Amount"].astype(float)

In [13]:
snapshot_date = df2['Purchase Date'].max() + timedelta(days=1)

In [14]:
df5 = df2.groupby('Customer name').agg({'Global Amount': ['sum','count'], 'Purchase Date': lambda x: (snapshot_date - x.max()).days}).reset_index()

In [15]:
df5

                      Customer name Global Amount       Purchase Date
                                              sum count      <lambda>
0                           27 SARL       1063.02     3           141
1                   3B PISCINE SARL       4144.30     2           143
2                          3D LINER        233.36     1            17
3       A DEUX  PLUS - ENTREPRENDRE         48.18     1           337
4                            A ET P        107.04     1           336
...                             ...           ...   ...           ...
1033                WILLIAM HUMBERT        525.89     1           307
1034            WONDERPOOL CREATION       1292.04     1           231
1035  XPRESSEAU - DESMOULIN ADELINE        510.38     1           234
1036    YACONO ALAIN AQUASERVICES66       6424.35     6            87
1037       ZUSSY THIERRYELSASSLINER       2267.28     4           224

[1038 rows x 4 columns]

In [16]:
df6 = df5.rename(columns={"Global Amount": "Total monetary value", 'count': 'Frequency', 'Purchase Date': 'Recency'})

In [17]:
df6

                      Customer name Total monetary value            Recency
                                                     sum Frequency <lambda>
0                           27 SARL              1063.02         3      141
1                   3B PISCINE SARL              4144.30         2      143
2                          3D LINER               233.36         1       17
3       A DEUX  PLUS - ENTREPRENDRE                48.18         1      337
4                            A ET P               107.04         1      336
...                             ...                  ...       ...      ...
1033                WILLIAM HUMBERT               525.89         1      307
1034            WONDERPOOL CREATION              1292.04         1      231
1035  XPRESSEAU - DESMOULIN ADELINE               510.38         1      234
1036    YACONO ALAIN AQUASERVICES66              6424.35         6       87
1037       ZUSSY THIERRYELSASSLINER              2267.28         4      224

[1038 rows x 4 columns]

In [18]:
df6.to_excel("frm_fr_2022.xlsx")