In [3]:
import pandas as pd
from datetime import timedelta

In [4]:
df2 = pd.read_csv("CTK 2022.csv")

In [5]:
df2

,Company [code+name],Year,Booking date (order),Customer code,Customer name,Segment code (customer),Segment name (customer),Global CoFX Amount (net),Sales order number,Order origin
0,141- CERTIKIN INTERNATIONAL LIMITED,2022,2022-05-06 00:00:00,3,A A Pools,15.0,POOL SPECIALIST-Instal/Builder,"935,51",0545651,25
1,141- CERTIKIN INTERNATIONAL LIMITED,2022,2022-05-19 00:00:00,3,A A Pools,15.0,POOL SPECIALIST-Instal/Builder,"221,79",0548344,25
2,141- CERTIKIN INTERNATIONAL LIMITED,2022,2022-05-30 00:00:00,3,A A Pools,15.0,POOL SPECIALIST-Instal/Builder,"134,32",0550421,25
3,141- CERTIKIN INTERNATIONAL LIMITED,2022,2022-09-07 00:00:00,3,A A Pools,15.0,POOL SPECIALIST-Instal/Builder,"247,94",0567739,25
4,141- CERTIKIN INTERNATIONAL LIMITED,2022,2022-05-29 00:00:00,3,A A Pools,15.0,POOL SPECIALIST-Instal/Builder,"14,48",HAZARDOUS,25
...,...,...,...,...,...,...,...,...,...,...
3880,141- CERTIKIN INTERNATIONAL LIMITED,2022,2022-11-08 00:00:00,4454,DOODLE BUILD CONTAINERS LTD,15.0,POOL SPECIALIST-Instal/Builder,"14,48",HAZARDOUS,25
3881,141- CERTIKIN INTERNATIONAL LIMITED,2022,2022-11-07 00:00:00,4457,TOMMICKS LTD!,15.0,POOL SPECIALIST-Instal/Builder,"403,80",0575531,25
3882,141- CERTIKIN INTERNATIONAL LIMITED,2022,2022-11-22 00:00:00,4457,TOMMICKS LTD!,15.0,POOL SPECIALIST-Instal/Builder,"57,81",0577383,25
3883,141- CERTIKIN INTERNATIONAL LIMITED,2022,2022-12-12 00:00:00,4457,TOMMICKS LTD!,15.0,POOL SPECIALIST-Instal/Builder,"27,27",0579733,25
3884,141- CERTIKIN INTERNATIONAL LIMITED,2022,2022-12-12 00:00:00,4457,TOMMICKS LTD!,15.0,POOL SPECIALIST-Instal/Builder,"14,48",HAZARDOUS,25

In [6]:
df2["Customer name"].unique()

array(['A A Pools', 'AG BUDGET SWIMMING POOLS', 'ALMA TRON LIMITED',
       'ALL SWIM LTD', 'AQUAFAYRE POOL & LEISURE SVCS',
       'AQUA LEISURE LTD', 'AQUASWIM SERVICES LIMITED!', 'AQUEOUS POOLS',
       'AQUASCAPES LTD', 'AQUASCAPE SWIMMING POOL LTD',
       'THREE COUNTIES POOLS & SPAS LTD', 'ASHER SWIMPOOL CENTRE LTD',
       'INTO THE BLUE LTD', 'AUSTIN POOL SERVICES &',
       'BAKEWELL POOLS LTD', 'ALAN BETTIN LTD', 'F BRICKELL & SONS LTD',
       'BUBBLETUBS LTD', 'BUCKLAND POOL & BUILDING COMPANY LTD',
       'FAWRONA LTD T/A BUTLER SERVICE', 'CATALINA SPAS LIMITED',
       'CALLOW TOP HOLIDAY PARK', 'CB POOL SERVICING LTD',
       'T/A CHESHIRE WELLNESS', 'CHISWELL POOLS LTD',
       'CLEAR WATER REVIVAL LIMITED', 'CLEARWAY POOLS LTD',
       'C R F SWIMMING POOLS', 'CRYSTAL CLEAR SWIM POOL SERV !',
       'CRYSTAL POOLS SERVICES LIMITED', 'DAVID JOHNS',
       'K DOWNS SWIMMING POOLS', 'CLOSED 20/01/23 NESTON CRT T/A DUDLEY',
       'EDMUNDSON ELECTRICAL LTD', 'ELM LEISURE LTD',
       'DAMAR SUPPLIES LIMITED T/AS', 'FREEDOM LEISURE  !',
       'GILLINGHAM POOLS LTD', 'GIRAFFE ENTERPRISES LTD',
       'J W GREEN SWIMMING POOLS LTD!', 'H2O SERVICING LTD',
       'M WINTER T/A HOME COUNTIES', 'HTP INC LIMITED',
       'HILDEN SWIMMING POOLS !', 'INTERPLAN LEISURE LIMITED',
       'JACKSONS LEISURE SUPPLIES LTD', 'ROGER JAMES POOLS LTD',
       'UK POOL STORE LTD', 'JSA LEISURE LIMITED', 'KB POOLS LTD',
       'KINGFISHER POOLCARE LTD', 'LANGLEY POOL SERVICES LIMITED',
       'ORIGIN LEISURE LTD', 'LETTS SWIMMING POOLS LIMITED',
       'HOWSON POOLS LIMITED', 'LEISURE POOLS LTD',
       'MAJESTIC POOLS LIMITED', 'MANX SAUNAS LTD', 'MCS POOL SERVICES',
       'M & D TRIMM', 'MERLIN POOLS AND SPAS LLP (COLCHESTER)', 'KALTECH',
       'MOSAIC SWIMMING POOLS & SPAS LTD', 'NAUTILUS POOLS LTD',
       'NEUMAN AQUA LTD', 'CAMPBELL POOLS LTD',
       'NEWSON SWIMMING POOLS LTD', 'NIRVANA SPA & LEISURE LTD',
       'PALM TREE POOLS LTD', 'PANACHE POOLS LTD', 'E J PAYNE LTD',
       'PBS POOLS LTD', 'PEGASUS POOLS LTD', 'PHYSICAL COMPANY LTD',
       'P J LE MAITRE !', 'PLANSCAPES LEISURE LTD',
       'POOL MECHANIX LIMITED', 'POOLWORX LIMITED', 'POOL SUPPLIES LTD',
       'POOL FRAMES AND SUPPLIES LTD !', 'SWIMMING POOLS (MIDLANDS)',
       'POLAR POOLS LTD', "POOL 'N' SPA SERVICES LTD",
       'POOLS & GARDENS LIMITED', 'POOLS PLUS LLP',
       'PREMIER POOL SERVICES', 'P R COOLING SERVICES LIMITED',
       'PRESTIGE SWIMMING POOLS LTD', 'POOLTEC SERVICES LTD !',
       'TRACIE SKINNER T/AS PUREPOOLS', 'ROCKINGHAM SWIMMING POOLS LTD',
       'RS POOLS LTD', 'SEALION SWIMMING POOLS AND SPAS LTD !',
       'T/A THE POOL LADY', 'SMALLBONE POOLS !',
       'SPA DE LA MARE LTD DORSET ACC', 'SPAPOOL   !', 'SPLASH & RELAX',
       'SPRUCE SERVICES LIMITED', 'SWIMMING POOL SOLUTIONS LTD',
       'MR R MADGWICK T/A SUNSHINE POOLS', 'SWIMFIX LTD',
       'CHRIS THAYRE SWIMMING POOLS', 'ROB COTTLE !', '1066 POOLS LTD',
       'Topline Electronics Ltd', 'POOLMAN LEISURE GROUP LIMITED!',
       'UNIPOOLS LTD', 'THE WATERSPLASH CLUB',
       'WEARSIDE CIVIL ENGINEERING LTD', 'WENSUM POOLS LTD',
       'WEST COUNTRY LEISURE POOL (DEVON)',
       'WOKINGHAM POOLS AND SPAS LTD', 'XL POOLS LTD',
       'TANBY LEISURE PRODUCTS LTD', 'AQS GROUP LTD', 'DWS LEISURE',
       'MERMAID SYSTEMS LTD', 'IAN STOKES T/A AQUA RIO',
       'T/A WELSH HOT TUBS', 'ON-SITE POOL LININGS LTD !',
       'RG POOLS AND LEISURE LTD', 'JML POOLS LTD',
       'LOVE2SWIM HAMPSHIRE LTD  !', 'BLUEPOOLS LTD',
       'A & D SWIMMING POOLS LTD', 'TONY KNIGHT',
       'AQUATIC IMPACT LTD (AQUATICS)', 'CD AQUATICS  (AQUATICS)',
       'ATOLL CONSTRUCTION LTD', 'APULIA POOLS', 'GARETH JAMES POOLS',
       'SERENITY POOLS !', 'SHIRLEY AQUATICS (1984) LTD (AQUATICS)',
       'OASIS SWIMMING POOLS (KENT) LTD', 'AMAZON EU S.A.R.L (AQUATICS)',
       'HEAT PUMPS 4 POOLS LTD', 'RIVIERA HOT TUBS LTD',
       'J.P SWIMMING POOL SOLUTIONS LTD', 'AQUASTYLE POOLS LTD',
       'THIRD MILLENNIUM ENERGY LTD',
       'COMPLETE SWIMMING POOL SERVICES LTD',
       'CRYSTAL CLEAR POOLS LIMITED', 'POOL SOLUTIONS (SCOTLAND)',
       'YOLO INVESTMENT COMPANY LTD', 'POOLS, SPAS AND LANDSCAPES LTD',
       'PACIFIC POOLS LTD T/A POOL TRADE COUNT',
       'THE COTSWOLD POOL COMPANY LTD', 'AQUARIUS POOL SERVICES LTD',
       'SURESPA LTD', 'STEVE MAYNARD PROPERTY SERVICES !',
       'OXFORD POOLS AND HOT TUBS LIMITED', 'JB ELITE SERVICES LTD',
       'MEB TOTAL LTD', 'SEYMOUR POOLS LTD',
       'ELITE SPAS & LEISURE SW LTD', 'SAFFRON SWIMMING POOLS LTD',
       'TOTAL LEISURE ENGINEERING LTD',
       'W COOMBES & SONS (CONTRACTORS) LTD',
       'LIFESTYLE BUILDING SERVICES!', 'AQUAPOOLCO',
       'NORTH EAST SWIMMING POOLS LIMITED !', 'SSL POOLS LTD',
       'OCEANOS POOLS LTD !', 'AZURE POOL SERVICES LTD', 'BTA LEISURE !',
       'POOL ENGINEERING UK', 'POOLWORKS LTD',
       'T/A SOLENT POOLS AND HOT TUBS', 'GKING T/A THERMAL LEISURE',
       'HIGHTECH WATER SERVICES LTD', 'OLYMPIC CONSTRUCTION NORFOLK LTD',
       'SMART POOLS LTD', 'EXETER POOLS LTD', 'BOILERS 4 ESSEX LTD',
       'T/A MIDLAND POOL SERVICES !', 'UNICORN POOLS AND HOT TUBS LTD',
       'CORNISH HOT TUBS LIMITED', 'PERFECT POOLS !',
       'PENINSULA POOLS LTD', 'ABS POOLS LIMITED !',
       'APM POOL CARE LTD !', 'WATER ARTISANS LTD', 'W D S LIMITED!',
       'YORKSHIRE HOT TUBS LTD!', 'CANADIAN SPA IRELAND!',
       'RICHMOND PARK POOLS !', 'SPAZIO DESIGN LIMITED!',
       'BOMBINA SERVICES!', 'GALA SWIMMING POOLS LTD', 'T/A RELAX ESSEX',
       'STOW AGRICULTURAL LTD', 'ROCKHOPPER POOLS LTD',
       'T/A MALPELO POOLS', 'SPAFLO LTD', 'T/A WOOZELBEARS MELKSHAM !',
       'T/A THE POOL CLEANERS !', 'T/A A.T.POOL SERVICES!',
       'S J POOL SERVICES!', 'AQUATEC POOLS', 'POOL ASSIST LIMITED',
       'PHOENIX FILTRATION LTD!', 'T/A HOT TUB HUB',
       'SPRAYED CONCRETE SOLUTIONS LTD', 'T/A OXFORD POOL STORE',
       'HYDROCARE LEISURE LTD', 'FAIRLOCKS POOL PRODUCTS LTD',
       'MARSHALL SWIMMING POOLS LTD', 'FRANKLYNAIR LTD!',
       'GO AQUA UK LTD', 'A2Z POOLS', 'T/A AGUA CALIENTE POOL DESIGN !',
       'LEW KEAY & SONS', 'THE POOL PEOPLE!', 'B.T.U SUPPLIES LTD',
       'KENT AND SUSSEX POOL CONSTRUCTION LTD!', 'TOTAL POOL CARE LTD !',
       'SOUTH WEST AIR TECH!', 'ENERGISE LEISURE LTD!',
       'THE NATURAL POOL COMPANY LTD!', 'AQUA PROJECTS!',
       'CENTURION CORPORATE SOLUTIONS LTD!',
       'BARRYS SWIMMING POOL & SPA SOLUTIONS!', 'SURREY POOLS AND WATER!',
       'POOL COVER SERVICING!', 'HENDY CURZON GARDENS LTD',
       'HEATHCREST HEATING SERVICES LTD', 'AQUA PLATINUM SERVICING LTD',
       'ELEMENTS OF NATURE LTD!', 'POOL AND SPA TECH',
       'LEISURESAFE SOLUTIONS!', 'SHAPE FABRICATION LTD !',
       'CREATIVE POOLS & LEISURE LTD!', 'CIRENCESTER POOLS!',
       'LUXOR POOLS LTD!', 'JENESIS SERVICES!',
       'SPECIALIST LINING SERVICES LIMITED!', 'ASTER LEE LTD!',
       'SALOP POOL SERVICES', 'ORBRO POOLS LIMITED',
       'TANK TIDY LTD(AQUATICS)!', 'CLARITY POOLCARE!',
       'CHEMICAL BOX LIMITED!', 'ALL FOR ONE CONSULTANCY LTD!',
       'TWINSCAPE GROUP LTD!', 'THE COMPLETE POOL COMPANY!',
       'T/A CHESHIRE POOL SUPPLIES!', 'ECOBLUE POOL AND SPA LTD!',
       'AMANDI HOLDINGS LIMITED!', 'SIMPLEX SWIMMING POOLS LTD',
       'T/A KIEREN BEAN POOLS & SPA!', 'MARK THE POOL GUY!',
       'HOT TUB HIRE LIMITED!', 'G3 POOL AND SPAS!', 'S & S POOLS!',
       'BUILTH WELLS VETERINARY PRACTICE LTD!', 'FACILITY SOLUTIONS',
       'POOLGENIX LTD!', 'G & O ENGINEERS LTD', 'SG POOL SERVICES!',
       'AUGUST POOLS LTD!', 'UK POOLS AND SPAS!',
       'T/A LOXONE FLAGSHIP PARTNER AUTOMATE!',
       'OCEAN ELECTRICAL/SWIMMING POOL SOL LTD!', 'JOHN PYKE!',
       'SUNSCAPE INNOVATIONS LTD!', 'TOM FOSTER!', 'OTIUM SWIMMING POOLS',
       'P & P LEISURE POOLS LTD', 'POOL ENGINEERING LTD!',
       'BROUGHTON HOLDINGS!', 'DOODLE BUILD CONTAINERS LTD',
       'TOMMICKS LTD!'], dtype=object)

In [7]:
df2["Customer name"] = df2["Customer name"].str.replace(r' - 100', '')
df2["Customer name"] = df2["Customer name"].str.replace(r'(?!-)[^\w\s]', '', regex=True)
df2["Customer name"] = df2["Customer name"].str.replace('Ãƒâ€˜', 'A')
df2["Customer name"] = df2["Customer name"].str.replace('Ãƒâ€œ', 'A')
df2["Customer name"] = df2["Customer name"].str.replace(r'[^\x00-\x7f]', '', regex=True)
df2["Customer name"] = df2["Customer name"].str.strip()

In [8]:
df2["Customer name"].unique()

array(['A A Pools', 'AG BUDGET SWIMMING POOLS', 'ALMA TRON LIMITED',
       'ALL SWIM LTD', 'AQUAFAYRE POOL  LEISURE SVCS', 'AQUA LEISURE LTD',
       'AQUASWIM SERVICES LIMITED', 'AQUEOUS POOLS', 'AQUASCAPES LTD',
       'AQUASCAPE SWIMMING POOL LTD', 'THREE COUNTIES POOLS  SPAS LTD',
       'ASHER SWIMPOOL CENTRE LTD', 'INTO THE BLUE LTD',
       'AUSTIN POOL SERVICES', 'BAKEWELL POOLS LTD', 'ALAN BETTIN LTD',
       'F BRICKELL  SONS LTD', 'BUBBLETUBS LTD',
       'BUCKLAND POOL  BUILDING COMPANY LTD',
       'FAWRONA LTD TA BUTLER SERVICE', 'CATALINA SPAS LIMITED',
       'CALLOW TOP HOLIDAY PARK', 'CB POOL SERVICING LTD',
       'TA CHESHIRE WELLNESS', 'CHISWELL POOLS LTD',
       'CLEAR WATER REVIVAL LIMITED', 'CLEARWAY POOLS LTD',
       'C R F SWIMMING POOLS', 'CRYSTAL CLEAR SWIM POOL SERV',
       'CRYSTAL POOLS SERVICES LIMITED', 'DAVID JOHNS',
       'K DOWNS SWIMMING POOLS', 'CLOSED 200123 NESTON CRT TA DUDLEY',
       'EDMUNDSON ELECTRICAL LTD', 'ELM LEISURE LTD',
       'DAMAR SUPPLIES LIMITED TAS', 'FREEDOM LEISURE',
       'GILLINGHAM POOLS LTD', 'GIRAFFE ENTERPRISES LTD',
       'J W GREEN SWIMMING POOLS LTD', 'H2O SERVICING LTD',
       'M WINTER TA HOME COUNTIES', 'HTP INC LIMITED',
       'HILDEN SWIMMING POOLS', 'INTERPLAN LEISURE LIMITED',
       'JACKSONS LEISURE SUPPLIES LTD', 'ROGER JAMES POOLS LTD',
       'UK POOL STORE LTD', 'JSA LEISURE LIMITED', 'KB POOLS LTD',
       'KINGFISHER POOLCARE LTD', 'LANGLEY POOL SERVICES LIMITED',
       'ORIGIN LEISURE LTD', 'LETTS SWIMMING POOLS LIMITED',
       'HOWSON POOLS LIMITED', 'LEISURE POOLS LTD',
       'MAJESTIC POOLS LIMITED', 'MANX SAUNAS LTD', 'MCS POOL SERVICES',
       'M  D TRIMM', 'MERLIN POOLS AND SPAS LLP COLCHESTER', 'KALTECH',
       'MOSAIC SWIMMING POOLS  SPAS LTD', 'NAUTILUS POOLS LTD',
       'NEUMAN AQUA LTD', 'CAMPBELL POOLS LTD',
       'NEWSON SWIMMING POOLS LTD', 'NIRVANA SPA  LEISURE LTD',
       'PALM TREE POOLS LTD', 'PANACHE POOLS LTD', 'E J PAYNE LTD',
       'PBS POOLS LTD', 'PEGASUS POOLS LTD', 'PHYSICAL COMPANY LTD',
       'P J LE MAITRE', 'PLANSCAPES LEISURE LTD', 'POOL MECHANIX LIMITED',
       'POOLWORX LIMITED', 'POOL SUPPLIES LTD',
       'POOL FRAMES AND SUPPLIES LTD', 'SWIMMING POOLS MIDLANDS',
       'POLAR POOLS LTD', 'POOL N SPA SERVICES LTD',
       'POOLS  GARDENS LIMITED', 'POOLS PLUS LLP',
       'PREMIER POOL SERVICES', 'P R COOLING SERVICES LIMITED',
       'PRESTIGE SWIMMING POOLS LTD', 'POOLTEC SERVICES LTD',
       'TRACIE SKINNER TAS PUREPOOLS', 'ROCKINGHAM SWIMMING POOLS LTD',
       'RS POOLS LTD', 'SEALION SWIMMING POOLS AND SPAS LTD',
       'TA THE POOL LADY', 'SMALLBONE POOLS',
       'SPA DE LA MARE LTD DORSET ACC', 'SPAPOOL', 'SPLASH  RELAX',
       'SPRUCE SERVICES LIMITED', 'SWIMMING POOL SOLUTIONS LTD',
       'MR R MADGWICK TA SUNSHINE POOLS', 'SWIMFIX LTD',
       'CHRIS THAYRE SWIMMING POOLS', 'ROB COTTLE', '1066 POOLS LTD',
       'Topline Electronics Ltd', 'POOLMAN LEISURE GROUP LIMITED',
       'UNIPOOLS LTD', 'THE WATERSPLASH CLUB',
       'WEARSIDE CIVIL ENGINEERING LTD', 'WENSUM POOLS LTD',
       'WEST COUNTRY LEISURE POOL DEVON', 'WOKINGHAM POOLS AND SPAS LTD',
       'XL POOLS LTD', 'TANBY LEISURE PRODUCTS LTD', 'AQS GROUP LTD',
       'DWS LEISURE', 'MERMAID SYSTEMS LTD', 'IAN STOKES TA AQUA RIO',
       'TA WELSH HOT TUBS', 'ON-SITE POOL LININGS LTD',
       'RG POOLS AND LEISURE LTD', 'JML POOLS LTD',
       'LOVE2SWIM HAMPSHIRE LTD', 'BLUEPOOLS LTD',
       'A  D SWIMMING POOLS LTD', 'TONY KNIGHT',
       'AQUATIC IMPACT LTD AQUATICS', 'CD AQUATICS  AQUATICS',
       'ATOLL CONSTRUCTION LTD', 'APULIA POOLS', 'GARETH JAMES POOLS',
       'SERENITY POOLS', 'SHIRLEY AQUATICS 1984 LTD AQUATICS',
       'OASIS SWIMMING POOLS KENT LTD', 'AMAZON EU SARL AQUATICS',
       'HEAT PUMPS 4 POOLS LTD', 'RIVIERA HOT TUBS LTD',
       'JP SWIMMING POOL SOLUTIONS LTD', 'AQUASTYLE POOLS LTD',
       'THIRD MILLENNIUM ENERGY LTD',
       'COMPLETE SWIMMING POOL SERVICES LTD',
       'CRYSTAL CLEAR POOLS LIMITED', 'POOL SOLUTIONS SCOTLAND',
       'YOLO INVESTMENT COMPANY LTD', 'POOLS SPAS AND LANDSCAPES LTD',
       'PACIFIC POOLS LTD TA POOL TRADE COUNT',
       'THE COTSWOLD POOL COMPANY LTD', 'AQUARIUS POOL SERVICES LTD',
       'SURESPA LTD', 'STEVE MAYNARD PROPERTY SERVICES',
       'OXFORD POOLS AND HOT TUBS LIMITED', 'JB ELITE SERVICES LTD',
       'MEB TOTAL LTD', 'SEYMOUR POOLS LTD', 'ELITE SPAS  LEISURE SW LTD',
       'SAFFRON SWIMMING POOLS LTD', 'TOTAL LEISURE ENGINEERING LTD',
       'W COOMBES  SONS CONTRACTORS LTD', 'LIFESTYLE BUILDING SERVICES',
       'AQUAPOOLCO', 'NORTH EAST SWIMMING POOLS LIMITED', 'SSL POOLS LTD',
       'OCEANOS POOLS LTD', 'AZURE POOL SERVICES LTD', 'BTA LEISURE',
       'POOL ENGINEERING UK', 'POOLWORKS LTD',
       'TA SOLENT POOLS AND HOT TUBS', 'GKING TA THERMAL LEISURE',
       'HIGHTECH WATER SERVICES LTD', 'OLYMPIC CONSTRUCTION NORFOLK LTD',
       'SMART POOLS LTD', 'EXETER POOLS LTD', 'BOILERS 4 ESSEX LTD',
       'TA MIDLAND POOL SERVICES', 'UNICORN POOLS AND HOT TUBS LTD',
       'CORNISH HOT TUBS LIMITED', 'PERFECT POOLS', 'PENINSULA POOLS LTD',
       'ABS POOLS LIMITED', 'APM POOL CARE LTD', 'WATER ARTISANS LTD',
       'W D S LIMITED', 'YORKSHIRE HOT TUBS LTD', 'CANADIAN SPA IRELAND',
       'RICHMOND PARK POOLS', 'SPAZIO DESIGN LIMITED', 'BOMBINA SERVICES',
       'GALA SWIMMING POOLS LTD', 'TA RELAX ESSEX',
       'STOW AGRICULTURAL LTD', 'ROCKHOPPER POOLS LTD',
       'TA MALPELO POOLS', 'SPAFLO LTD', 'TA WOOZELBEARS MELKSHAM',
       'TA THE POOL CLEANERS', 'TA ATPOOL SERVICES', 'S J POOL SERVICES',
       'AQUATEC POOLS', 'POOL ASSIST LIMITED', 'PHOENIX FILTRATION LTD',
       'TA HOT TUB HUB', 'SPRAYED CONCRETE SOLUTIONS LTD',
       'TA OXFORD POOL STORE', 'HYDROCARE LEISURE LTD',
       'FAIRLOCKS POOL PRODUCTS LTD', 'MARSHALL SWIMMING POOLS LTD',
       'FRANKLYNAIR LTD', 'GO AQUA UK LTD', 'A2Z POOLS',
       'TA AGUA CALIENTE POOL DESIGN', 'LEW KEAY  SONS',
       'THE POOL PEOPLE', 'BTU SUPPLIES LTD',
       'KENT AND SUSSEX POOL CONSTRUCTION LTD', 'TOTAL POOL CARE LTD',
       'SOUTH WEST AIR TECH', 'ENERGISE LEISURE LTD',
       'THE NATURAL POOL COMPANY LTD', 'AQUA PROJECTS',
       'CENTURION CORPORATE SOLUTIONS LTD',
       'BARRYS SWIMMING POOL  SPA SOLUTIONS', 'SURREY POOLS AND WATER',
       'POOL COVER SERVICING', 'HENDY CURZON GARDENS LTD',
       'HEATHCREST HEATING SERVICES LTD', 'AQUA PLATINUM SERVICING LTD',
       'ELEMENTS OF NATURE LTD', 'POOL AND SPA TECH',
       'LEISURESAFE SOLUTIONS', 'SHAPE FABRICATION LTD',
       'CREATIVE POOLS  LEISURE LTD', 'CIRENCESTER POOLS',
       'LUXOR POOLS LTD', 'JENESIS SERVICES',
       'SPECIALIST LINING SERVICES LIMITED', 'ASTER LEE LTD',
       'SALOP POOL SERVICES', 'ORBRO POOLS LIMITED',
       'TANK TIDY LTDAQUATICS', 'CLARITY POOLCARE',
       'CHEMICAL BOX LIMITED', 'ALL FOR ONE CONSULTANCY LTD',
       'TWINSCAPE GROUP LTD', 'THE COMPLETE POOL COMPANY',
       'TA CHESHIRE POOL SUPPLIES', 'ECOBLUE POOL AND SPA LTD',
       'AMANDI HOLDINGS LIMITED', 'SIMPLEX SWIMMING POOLS LTD',
       'TA KIEREN BEAN POOLS  SPA', 'MARK THE POOL GUY',
       'HOT TUB HIRE LIMITED', 'G3 POOL AND SPAS', 'S  S POOLS',
       'BUILTH WELLS VETERINARY PRACTICE LTD', 'FACILITY SOLUTIONS',
       'POOLGENIX LTD', 'G  O ENGINEERS LTD', 'SG POOL SERVICES',
       'AUGUST POOLS LTD', 'UK POOLS AND SPAS',
       'TA LOXONE FLAGSHIP PARTNER AUTOMATE',
       'OCEAN ELECTRICALSWIMMING POOL SOL LTD', 'JOHN PYKE',
       'SUNSCAPE INNOVATIONS LTD', 'TOM FOSTER', 'OTIUM SWIMMING POOLS',
       'P  P LEISURE POOLS LTD', 'POOL ENGINEERING LTD',
       'BROUGHTON HOLDINGS', 'DOODLE BUILD CONTAINERS LTD',
       'TOMMICKS LTD'], dtype=object)

In [7]:
df2 = df2[["Booking date (order)", "Global CoFX Amount (net)", "Customer name"]]

In [8]:
df2 = df2.rename(columns={"Booking date (order)": "Purchase Date", 'Customer Name': 'Customer name', 'Global CoFX Amount (net)': 'Global Amount'})

In [9]:
df2

            Purchase Date Global Amount                Customer name
0     2022-05-06 00:00:00        935,51                    A A Pools
1     2022-05-19 00:00:00        221,79                    A A Pools
2     2022-05-30 00:00:00        134,32                    A A Pools
3     2022-09-07 00:00:00        247,94                    A A Pools
4     2022-05-29 00:00:00         14,48                    A A Pools
...                   ...           ...                          ...
3880  2022-11-08 00:00:00         14,48  DOODLE BUILD CONTAINERS LTD
3881  2022-11-07 00:00:00        403,80                 TOMMICKS LTD
3882  2022-11-22 00:00:00         57,81                 TOMMICKS LTD
3883  2022-12-12 00:00:00         27,27                 TOMMICKS LTD
3884  2022-12-12 00:00:00         14,48                 TOMMICKS LTD

[3885 rows x 3 columns]

In [10]:
df2.dtypes

Purchase Date    object
Global Amount    object
Customer name    object
dtype: object

In [11]:
df2["Global Amount"] = df2["Global Amount"].str.replace(",", ".")

In [12]:
df2["Purchase Date"] = pd.to_datetime(df2["Purchase Date"])
df2["Global Amount"] = df2["Global Amount"].astype(float)

In [13]:
snapshot_date = df2['Purchase Date'].max() + timedelta(days=1)

In [14]:
df5 = df2.groupby('Customer name').agg({'Global Amount': ['sum','count'], 'Purchase Date': lambda x: (snapshot_date - x.max()).days}).reset_index()

In [15]:
df5

                       Customer name Global Amount       Purchase Date
                                               sum count      <lambda>
0                     1066 POOLS LTD       1161.28     5            80
1            A  D SWIMMING POOLS LTD      23045.54    20            24
2                          A A Pools       1554.04     5           107
3                          A2Z POOLS        389.68     2            73
4                  ABS POOLS LIMITED       1814.88     1           178
..                               ...           ...   ...           ...
268  WEST COUNTRY LEISURE POOL DEVON      41916.04    36            29
269     WOKINGHAM POOLS AND SPAS LTD       1103.77     2            94
270                     XL POOLS LTD        843.80     5            22
271      YOLO INVESTMENT COMPANY LTD        791.64     4            50
272           YORKSHIRE HOT TUBS LTD         31.71     1           287

[273 rows x 4 columns]

In [16]:
df6 = df5.rename(columns={"Global Amount": "Total monetary value", 'count': 'Frequency', 'Purchase Date': 'Recency'})

In [17]:
df6

                       Customer name Total monetary value            Recency
                                                      sum Frequency <lambda>
0                     1066 POOLS LTD              1161.28         5       80
1            A  D SWIMMING POOLS LTD             23045.54        20       24
2                          A A Pools              1554.04         5      107
3                          A2Z POOLS               389.68         2       73
4                  ABS POOLS LIMITED              1814.88         1      178
..                               ...                  ...       ...      ...
268  WEST COUNTRY LEISURE POOL DEVON             41916.04        36       29
269     WOKINGHAM POOLS AND SPAS LTD              1103.77         2       94
270                     XL POOLS LTD               843.80         5       22
271      YOLO INVESTMENT COMPANY LTD               791.64         4       50
272           YORKSHIRE HOT TUBS LTD                31.71         1      287

[273 rows x 4 columns]

In [18]:
df6.to_excel("frm_ctk_2022.xlsx")